 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: HSLA(0, 0%, 100%, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: HSLA(0, 0%, 0%, 1);
}

/************** HEADER SECTION ***********************/

.header {
  width: 100%;
  overflow: auto;
  background-color: HSLA(0, 0%, 96%, 1);

  nav {
    float: left;
    width: 100%;
    margin-left: 90px;
    font-size: 13px;
  }

  span,
  .searchField,
  li,
  img {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li, img, span:last-child {
    padding-top: 10px;
  }

  .searchField {
    width: 350px;
  }

  a {
    color: HSLA(0, 0%, 0%, 1);
  }

  img {
    width: 20px;
    margin-left: 200px;
    margin-right: -10px;
  }
}





.mainCon {
  @include outer-container;
  background-color: yellow;
}

.sidebar {
  @include span-columns(3);
  background-color: green;
}

.mainArea {
  @include span-columns(9);
  background-color: red;
}

// .tabs {
//
// }
//
// .repoBar {
//
// }
//
// .repos {
//
// }

.footer {
  height: 40px;
  width: 100%;
  background-color: HSLA(0, 0%, 96%, 1);
}
