 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: HSLA(0, 0%, 100%, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: HSLA(0, 0%, 0%, 1);
}

/************** HEADER SECTION ***********************/

.header {
  width: 100%;
  overflow: auto;
  background-color: HSLA(0, 0%, 96%, 1);

  nav {
    float: left;
    width: 100%;
    margin-left: 90px;
    font-size: 13px;
  }

  span,
  .searchField,
  li,
  img {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li, img, span:last-child {
    padding-top: 10px;
  }

  .searchField {
    width: 350px;
  }

  a {
    color: HSLA(0, 0%, 0%, 1);
  }

  img {
    width: 20px;
    margin-left: 200px;
    margin-right: -10px;
  }
}

/************** MAIN SECTION ***********************/

.mainCon {
  @include outer-container;
  background-color: yellow;
}

.sidebar {
  @include span-columns(3);
  background-color: green;
}

.mainArea {
  @include span-columns(9);
  background-color: red;
}

/************** SIDEBAR SECTION ***********************/

.sidebar {
  text-decoration: none;
  color: HSLA(0, 0%, 0%, 1);
}

.profile {

  img {
    width: 230px;
    border-radius: 10px;
  }

  span {
   display: block;
   font-size: 24px;

     &:last-child {
       font-size: 18px;
       margin-bottom: 25px;
     }
  }
}

.member {
  border-top: 1px solid HSLA(0, 0%, 93%, 1);
  border-bottom: 1px solid HSLA(0, 0%, 93%, 1);
  margin-bottom: 30px;

  span {
  margin: 0px 8px;
  padding: 20px 0px;
  }
}

.social {
  overflow: auto;
  text-decoration: none;
  color: HSLA(0, 0%, 0%, 1);

  li {
    float: left;
    font-size: 12px;
    margin: 0 18px;
    color: HSLA(0, 0%, 60%, 1);

    span {
      display: block;
      text-align: center;
      font-size: 30px;
      font-weight: 800;
      color: HSLA(210, 53%, 51%, 1);
    }
  }
}

.orgs {
  clear: both;
  margin-top: 18px;

  span {
    display: block;
    font-size: 18px;
  }

  img {
    display: inline-block;
    width: 42px;
    margin-top: 5px;
  }
}




// .tabs {
//
// }
//
// .repoBar {
//
// }
//
// .repos {
//
// }

/************** FOOTER SECTION ***********************/

.footer {
  height: 40px;
  width: 100%;
  background-color: HSLA(0, 0%, 96%, 1);
}
