 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: HSLA(0, 0%, 100%, 1);
  font-family: "Helvetica", Arial, sans-serif;
  color: HSLA(0, 0%, 0%, 1);
}


/************** HEADER SECTION ***********************/

.header {
  width: 100%;
  overflow: auto;
  background-color: HSLA(0, 0%, 96%, 1);
}

.genNav {
  float: left;
  width: 740px;
  margin: 10px 0px 0px 112px;
  font-size: 13px;

  span {
    float: left;
    margin-right: 14px;
  }

  #searchField {
    float: left;
    width: 395px;
    margin-right: 10px;
    padding: 8px 0px 8px 8px;
    color: HSLA(240, 1%, 67%, 1);
  }

  li a {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    color: HSLA(0, 0%, 0%, 1);
    font-size: 14px;
    font-weight: bold;
  }
}

.userNav {
  float: right;
  width: 300px;
  margin-top: 20px;
  margin-right: 108px;
  color: HSLA(0, 0%, 0%, 1);
  font-size: 13px;

  .log {
    float: left;
    width: 140px;

    img {
      float: left;
      width: 20px;
      margin-right: 5px;
    }

    span {
      float: left;
      font-size: 14px;
      font-weight: 800;
    }
  }

  .navIcons {
    float: right;
    width: 135px;
  }

  li {
    float: left;
    margin-left: 20px;
  }
}


/************** SIDEBAR SECTION ***********************/

.sidebar {
  text-decoration: none;
  color: HSLA(0, 0%, 0%, 1);
}

.profile {

  img {
    border-radius: 10px;
  }

  span {
    display: block;
    font-size: 26px;
    font-weight: 800;

     &:last-child {
       font-size: 20px;
       margin-bottom: 25px;
     }
  }
}

.member {
  clear: both;
  overflow: auto;
  border-top: 1px solid HSLA(0, 0%, 93%, 1);
  border-bottom: 1px solid HSLA(0, 0%, 93%, 1);
  margin-bottom: 30px;
  padding: 20px 0px;

  li {
    float: left;
    color: HSLA(0, 0%, 80%, 1);
  }

  span:last-child {
    color: HSLA(0, 0%, 0%, 1);
  }
}

.social {
  overflow: auto;

  li {
    width: 50px;
    font-size: 12px;
    color: HSLA(0, 0%, 60%, 1);
    margin: 0 16px;
    text-align: center;

    span {
      display: block;
      font-size: 30px;
      font-weight: 800;
      color: HSLA(210, 53%, 51%, 1);
    }
  }
}

li.left {
  float: left;
  display: inline;
}

li.center {
  float: left;
}

li.right {
  float: right;
}

.orgs {
  margin-top: 18px;

  li {
    float: left;
    font-size: 18px;
  }

  img {
    width: 42px;
    margin-top: 5px;
    margin-right: 5px;
  }
}


/************** MAIN SECTION ***********************/

.mainCon {
  @include outer-container;
  margin-top: 20px;
}

.sidebar {
  @include span-columns(3);
}

.mainArea {
  @include span-columns(9);
}


.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-bottom: $base-spacing;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      //@include inline-block;
      display: inline-block;
      border-top: 0;
    }

    // &:hover {
    //   color: $base-link-color;
    // }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}


.tabs {
  @include span-columns(12);
  border: 1px solid red;

  .editBtn {
    float: right;
    margin-top: 7px;
    font-size: 15px;

    span {
      margin-right: 5px;
    }

    .Edit_profile {
      background-color: HSLA(0, 0%, 96%, 1);
      color: HSLA(0, 0%, 20%, 1);
      padding: 5px 10px;
      border: 1px solid HSLA(0, 0%, 84%, 1);

      &:hover {
        background-color: HSLA(0, 0%, 90%, 1);
      }
    }
  }

  .tab-link span{
    margin-right: 4px;
  }
}

.repoBar {
  @include span-columns(12);
  width: 810px;
  margin-left: -27px;
  border-bottom: 1px solid HSLA(0, 0%, 80%, 1);

  #findRepo {
    display: inline;
    width: 280px;
  }

  .searchBox {
    float: left;
    width: 365px;

    .searchBtn {
      font-size: 14px;
      color: HSLA(0, 0%, 20%, 1);
      background-color: HSLA(0, 0%, 96%, 1);
      border: 1px solid HSLA(0, 0%, 80%, 1);

      &:hover {
        background-color: HSLA(0, 0%, 90%, 1);
      }
    }
  }

  .repoLinks {
    float: right;
    width: 443px;
    font-size: 16px;
    border: 1px solid red;

    li {
      float: left;
      margin-top: 6px;
      margin-left: 15px;

      span {
      color: HSLA(0, 0%, 20%, 1);
      font-weight: 800;
      }

    }

    .New {
      font-size: 14px;
      font-weight: 1600;
      margin-left: 15px;
      padding: 8px 12px;
      color: HSLA(0, 0%, 100%, 1);
      background-color: HSLA(104, 56%, 61%, 1);
      border: 1px solid HSLA(104, 44%, 46%, 1);


      &:hover {
        background-color: HSLA(104, 44%, 46%, 1);
      }

      span {
        margin-right: 4px;
      }
    }
  }

}

.repos {
  @include span-columns(12);
  width: 810px;
  height: 115px;
  margin-left: -27px;
  margin-right: 0px;
  padding-top: 30px;
  border-bottom: 1px solid HSLA(0, 0%, 93%, 1);
  overflow: auto;
}

.repo_left {
  float: left;

  span {
    font-size: 25px;
    font-weight: 800;
    color: HSLA(210, 53%, 51%, 1);
    display: block;
  }

  span:last-child {
    font-size: 14px;
    color: HSLA(0, 0%, 45%, 1);
  }
}

.repo_right {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: HSLA(0, 0%, 53%, 1);
  padding-top: 14px;

  span:first-child {
    margin-right: 10px;
  }

  span:nth-child(2) {
    margin-right: 4px;
  }

  span:nth-child(3) {
    margin-right: 10px;
  }

  span:nth-child(4) {
    margin-right: 4px;
  }
}

/************** FOOTER SECTION ***********************/

.footer {
  overflow: auto;
  width: 100%;
  padding: 12px 0px;
  background-color: HSLA(0, 0%, 96%, 1);
  font-size: 12px;
  color: HSLA(0, 0%, 0%, 1);

  p,
  span,
  .box1,
  .box2 {
    float: left;

    li {
      float: left;
      margin: 0 10px;
    }
  }

  p {
    margin-left: 110px;
  }
}
