<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>my_github_repo</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">

      <div class="header">
        <nav class="genNav">
          <span class="mega-octicon octicon-mark-github"></span>
          <input id="searchField" type="text" name="input" value="Search GitHub" />
          <ul>
            <li><a href="#">Explore</li>
            <li><a href="#">Gist</li>
            <li><a href="#">Blog</li>
            <li><a href="#">Help</li>
          </ul>
        </nav>
        <nav class="userNav">
          <img src="https://avatars0.githubusercontent.com/u/8864519?v=2&s=460" alt="small profile picture"/>
          <span>DeanGilewicz</span>
          <ul class="navIcons">
            <li><span class="octicon octicon-plus"></span></li>
            <li><span class="octicon octicon-inbox"></span></li>
            <li><span class="octicon octicon-gear"></span></li>
            <li><span class="octicon octicon-sign-out"></span></li>
          </ul>
        </nav>
      </div>

      <div class="mainCon">

        <div class="sidebar">

            <section class="profile">
            </section>

            <section class="member">
            </section>

            <section class="social">
              <ul>
                <li><span>0</span>Followers</li>
                <li><span>3</span>Starred</li>
                <li><span>0</span>Following</li>
              </ul>
            </section>


            <section class="orgs">
              <span>Organizations</span>
              <img src="https://avatars2.githubusercontent.com/u/7996991?v=2&s=84" alt="JavaScript Icon" />
              <img src="https://avatars2.githubusercontent.com/u/9014378?v=2&s=84" alt="The Iron Yard Hackathon Icon" />
            </section>
        </div>

        <div class="mainArea">

            <nav class="tabs">
              <ul>
                <li>
                  <span class="octicon octicon-diff-added"></span>
                  <span>Contributions</span>
                </li>
                <li>
                  <span class="octicon octicon-repo"></span>
                  <span>Repositories</span>
                </li>
                <li>
                  <span class="octicon octicon-rss"></span>
                  <span>Public activity</span>
                </li>
              </ul>
              <div class="editBtn">
                <span class="octicon octicon-pencil"></span>
                <button class="Edit_profile" name="button">Edit profile</button>
              </div>

            </nav>

            <nav class="repoBar">
              <div class="searchBox">
                <input id="findRepo" type="text" name="input" value="Find a repository..." />
                <button class="searchBtn" name="button">Search</button>
              </div>
              <div class="repoLinks">
                <ul>
                  <li><a href="#"></a>All</li>
                  <li><a href="#"></a>Public</li>
                  <li><a href="#"></a>Private</li>
                  <li><a href="#"></a>Sources</li>
                  <li><a href="#"></a>Forks</li>
                  <li><a href="#"></a>Mirrors</li>
                </ul>
                <span class="octicon octicon-repo"></span>
                <button class="New" name="button">New</button>
              </div>
            </nav>

            <div class="repos">
              <ul>
                <li class="repo1 clear">
                  <div class="boxLeft">
                    <span>My-GitHub-Repo</span>
                    <span>Updated 14 hours ago</span>
                  </div>
                  <div class="boxRight">
                    <span>repo-list-stats</span>
                    <div>
                      <span class="octicon octicon-star"></span>
                      <span>list-stat-item</span>
                    </div>
                    <div>
                      <span class="octicon octicon-git-branch"></span>
                      <span>stat-item</span>
                    </div>
                  </div>
                </li>
                <li class="repo2 clear">
                  <div class="boxLeft">
                    <span>My-GitHub-Repo</span>
                    <span>Updated 14 hours ago</span>
                  </div>
                  <div class="boxRight">
                    <span>repo-list-stats</span>
                    <div>
                      <span class="octicon octicon-star"></span>
                      <span>list-stat-item</span>
                    </div>
                    <div>
                      <span class="octicon octicon-git-branch"></span>
                      <span>stat-item</span>
                    </div>
                  </div>
                </li>
                <li class="repo3 clear">


                </li>
                <li class="repo4 clear">


                </li>
                <li class="repo5 clear">


                </li>
                <li class="repo6 clear">


                </li>
              </ul>
            </div>

        </div>

      </div>


      <div class="footer">
        <p>&copy; 2014 GitHub, Inc.</p>
        <ul class="box1">
          <li>Terms</li>
          <li>Privacy</li>
          <li>Security</li>
          <li>Contact</li>
        </ul>
        <span class="mega-octicon octicon-mark-github"></span>
        <ul class="box2">
          <li>Status</li>
          <li>API</li>
          <li>Training</li>
          <li>Shop</li>
          <li>Blog</li>
          <li>About</li>
        </ul>
      </div>

    </div>

    <script type="text/template" id="profile">

      <img src="<%= avatar_url %>"/>
      <span><%= name %></span>
      <span><%= login %></span>

    </script>

    <script type="text/template" id="member_since">

      <span class="octicon octicon-clock"></span>
      <span><%= created_at %></span>

    </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/token.js"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
